%h2 Articles

= link_to "New Article", new_article_path
- unless articles.empty?
  .container
    %table.table
      %thead
        %tr
          %th Id
          %th Title
          %th Text
          %th Actions
      %tbody
        - articles.each do |article|
          %tr
            %td= article.id
            %td= article.title
            %td= truncate article.text, length: 150
            %td
              = link_to 'Show', article
              |
              = link_to 'Edit', edit_article_path(article)
              - if can? :destroy, article
                |
                = link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }

    = paginate articles, theme: 'twitter-bootstrap-3'
