%p#notice= notice

.jumbotron
  %h1= @article.title
  %p= @article.text
  %br
  %p= "Viewed #{@article.views_count} times"

%h2 Random posts
= render 'articles_cards', articles: @random_articles, pagination: false

= link_to 'Back', return_url
